<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<div class="container bg-light">
<h1>Order Food</h1>
<p>Select food Items you want to order</p>
<form action='<%= url %>' method="POST" >
    <input type="checkbox" id='1' name="rtype" visibility="none" value='test' style="opacity:0;" checked="checked">
    <table style="border: 1px solid black;">

        <% for (var i = 0; i < food.length; i++) {%>
            <tr style="border: 1px solid black;">
                <td style="border: 1px solid black;">
                    <input type="checkbox" id='<%= food[i].fid %>' name="rtype" value='<%= food[i].fid %>'>
                    <label for="A"><%= food[i].fname %></label>
                </td>
                <td style="border: 1px solid black;">
                    <label for="A">Rs.<%= food[i].price %></label>
                </td>
            </tr>
        <% } %>
    </table>
    <hr>
    <input type="submit" class="btn btn-primary" name="register" value="Order"/>
</form>
</div>